# ignores all files by default
*.*

# folders to ignore
/.idea

# EXCEPTIONS

# languages
!*.R
!*.py
!*.sh
!*.Rmd
!*.md
!*.bash

# reference files
!*.txt
!*.fasta
!*.gb
!*gbk
!*.tsv
!*.csv
!.bash

!.gitignore
