# ignores all files by default
*.*

# folders to ignore
/.idea

# EXCEPTIONS

# scripts
!*.R
!*.py
!*.sh
!*.Rmd
!*.md
!*.bash
!*.nf
!Dockerfile

# reference files
!*.txt
!*.fasta
!*.gb
!*gbk
!*.tsv
!*.csv
!.bash

!.gitignore
